
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0a64ae;
    margin: 0px;
}
.container{
    width: 320px;
    height: 280px;
    /* background: blue; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur 50px;

}

.container h1{
    font-size: 30px;
    text-align: center;
}

.container input{
    width: 92%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    background: none;
    color: aliceblue;
    border-color: white;
}

